
.about {
    height: 10rem;
    background-color: gray;
    margin-top: 60px;
    text-align: center;
    color: white;
}
.about h1 {
    font-size: 5rem;
}

.container {
    text-align: center;
}

.container img {
    width: 10rem;
    border-radius: 50%;
}