.home {
    height: 20rem;
    background-color: rgb(95, 93, 93);
    margin-top: 60px;
}

.home h1{
    font-size: 5rem;
    text-align: center;
    color: white;
}

.home Button {
    margin-left: 40rem;
    margin-top: 3rem;
    color: white;
}

.container {
    text-align: center;
    margin-top: 10px;
}

.container span {
    margin-left: 3rem;
}

.container Button {
    margin-left: 10px;
}





